---
layout: default
---
.grid.push--bottom
  .grid__item.one-half.palm-one-whole
    hgroup.landmark
      h1
        | Łódź Ruby User Group #6
      time.gamma.brand-color
        | 20 lutego 2014 (czwartek), 18:45
      .push-half--top.brand-color
        | ul. Pomorska 39 - Miejski punkt kultury PREXER-UŁ

    dl.talks
      dt Jakie znaczenie w pracy programisty mają miękkie skille?
      dd Piotr Misiurek

      dt
        | LT: rails-api i active_model_serializers
      dd Adam Niedzielski

    ul.nav.nav--block
      li.push--top
        a href="https://www.facebook.com/events/1374340202832710/" class="btn--facebook"
          | Dołącz na Facebooku

  .grid__item.one-half.palm-one-whole
    .map.push--ends data-map=""

ul.sponsors-list
  li
    a href="http://binarapps.com"
      img src="/images/binarapps.png"
  li
    a href="https://shellycloud.com"
      img src="/images/shellycloud.png"
