@import "../bower_components/normalize-scss/normalize"
@import "../bower_components/vessel/vessel"
@import url(http://fonts.googleapis.com/css?family=PT+Sans|Open+Sans+Condensed:700&subset=latin,latin-ext)

body
  background: #222
  color: #fff
  font: 100% "PT Sans"

header
  @include outer-container
  background: url(/images/code.png) no-repeat right 3em
  background-size: 512px 512px
  h1
    font: em(38) "Open Sans Condensed"
    margin: 2em 0
  dl
    font-size: em(20)
    margin-bottom: 4em
    dt
      line-height: 1.5em
    dd
      font-size: em(16, 20)
      color: #E74C3C
      margin: .5em 0 2em

.bar
  text-align: center
  font: em(28) "Open Sans Condensed"
  color: #222
  background: #E74C3C
  padding: .8em 0

h1, h2, h3, h4, h5, h6, ul, ol, dl, p
  margin-top: 0

a
  color: inherit
  text-decoration: none

#map
  min-height: 430px
