@import url(http://fonts.googleapis.com/css?family=PT+Sans|Open+Sans+Condensed:700&subset=latin,latin-ext)

body
  background: #222
  color: #fff
  font: 100% "PT Sans"

header
  h1
    font: 38px "Open Sans Condensed"
    margin: 2em 0
  dl
    font-size: 20px
    margin-bottom: 4em
    dt
      line-height: 1.5em
    dd
      font-size: 16px
      color: #E74C3C
      margin: .5em 0 2em

.bar
  text-align: center
  font: 28px "Open Sans Condensed"
  color: #222
  background: #E74C3C
  padding: .8em 0

#map
  min-height: 430px
