@import url(http://fonts.googleapis.com/css?family=PT+Sans)
@import 'normalize-css'

$body-width: 980px
$body-background-color: #222
$body-font-family: "PT Sans"
$color-link: #fa0024
$base-spacing-unit: 24px

*, *:before, *:after
  box-sizing: border-box

body
  font-family: $body-font-family
  background: $body-background-color
  color: white

a
  color: $color-link

.container
  text-align: center
  margin-top: $base-spacing-unit * 4

.btn
  display: inline-block
  margin-bottom: $base-spacing-unit * 3
  padding: $base-spacing-unit
  background: $body-background-color
  border: 3px solid white
  font-size: 2em
  text-decoration: none
  color: white

  &:hover
    background: $color-link

.heading
  font-weight: normal

.inline-list
  > li
    display: inline-block
    margin: $base-spacing-unit
    vertical-align: middle
