%li.presentation
  - if presentation.user.blank?
    .topic= link_to 'zgłoś się do prezentacji', edit_presentation_path(presentation)
  - else
    .topic= link_to_presentation(presentation)
    .author= presentation.user