= form_for @presentation do |f|
  %p
    Zalogowany jako:
    %strong= current_user
  = f.text_field :topic, :placeholder => 'Wpisz  temat prezentacji'
  .submit
    = f.submit 'zapisz', :class => 'button big danger'