- content_for(:page_title, @event.datetime)

.info
  .date= @event.datetime
  .address Aleja Kościuszki 32/7, 3. piętro
  .address2 Biuro Ragnarson
.map
%ol.presentations= render @event.presentations

%p.archive= link_to 'wcześniejsze prezentacje', events_path

