- content_for(:page_title, @event.datetime)

.info
  .date= @event.datetime
  .address Łąkowa 11, biuro Ragnarson, 1. piętro
  .address2 Budynek główny (ceglany), 1. klatka
.map
%ol.presentations= render @event.presentations

%p.archive= link_to 'wcześniejsze prezentacje', events_path

