.date
  %p 20 października 2011, 16:30+

.address
  .map
  %p Łąkowa 11, biuro Ragnarson

%ol.presentations
  %li.presentation
    .topic Send SMS Messages and Make Phone Calls From Your App With Twilio
    .author Brian Levine
  %li.presentation
    .topic HTML5 Quick Start with Compass-html5-boilerplate
    .author Peter Gumeson
  %li.presentation
    .topic Newick-Ruby: A Gem for Manipulating Newick Format Trees
    .author Jonathan Badger
