@import url(http://fonts.googleapis.com/css?family=PT+Sans|Open+Sans+Condensed:700&subset=latin,latin-ext);
body {
  background: #222222;
  color: white;
  font: 100% "PT Sans";
}

header h1 {
  font: 38px "Open Sans Condensed";
  margin: 2em 0;
}
header dl {
  font-size: 20px;
  margin-bottom: 4em;
}
header dl dt {
  line-height: 1.5em;
}
header dl dd {
  font-size: 16px;
  color: #e74c3c;
  margin: 0.5em 0 2em;
}

.bar {
  text-align: center;
  font: 28px "Open Sans Condensed";
  color: #222222;
  background: #e74c3c;
  padding: 0.8em 0;
}

#map {
  min-height: 430px;
}
