doctype html
html
  head
    meta charset="utf-8"
    title None
    link href="components/normalize-css/normalize.css" rel="stylesheet" type="text/css"
    link href="components/vessel/vessel.css" rel="stylesheet" type="text/css"
    link href="css/style.css" rel="stylesheet" type="text/css"

  body
    .wrap
      .grid
        .three-fifths
          h1 Łódź Ruby User Group
          h3 3 lipca 2012, 18:15
          ol
            li
              ' Clean Code w Ruby, czyli kod musi być CZYSTY!
              ' Rafal Piekarski
            li
              ' NoobGameDevel: Historia Mustachio
              ' Marcin Baliński, Sebastian Baliński
          object
            ' ..put map here..
          address
            ' Aleja Kościuszki 32/7, 3. piętro

        .two-fifths
          h2 Archiwum
          h3 2 lutego 2012
          ol
            li
              ' Backbone.js
              ' Piotr Jakubowski
            li
              ' Presenters
              ' Artur Roszczyk
          h3 8 grudnia 2011
          ol
            li
              ' Ruby gada z Javą, czyli cross-platform messaging z użyciem STOMP
              ' Michał Ostruszka
            li
              ' Wyszukiwanie jasne jak słońce - jak stworzyć wyszukiwarkę z Apache Solr i Ruby on Rails
              ' Rafal Piekarski
            li
              ' ØMQ
              ' Grzesiek Kolodziejczyk
          h3 20 października 2011
          ol
            li
              ' Wprowadzenie do websockets
              ' Bartek Kozal
            li
              ' Przetwarzanie gigabajtów danych w czasie rzeczywistym z wykorzystaniem Goliath i Resque
              ' Łukasz Piestrzeniewicz
            li
              ' Faye, czyli łatwe pub/sub z websockets
              ' Grzesiek Kolodziejczyk
          h2 Ruby w Polsce
          ul
            li Warszawa
            li Kraków
            li Górny Śląsk
            li Dolny Śląsk
            li Trójmiasto
            li Poznań
            li Białystok
          h2 Sponsorzy
          ul
            li Shelly Cloud

    script src="javascripts/script.js"
