.todo
  background: #ddd
  border: 2px solid #888
  font-size: .8em
  line-height: 1.2em
  margin-bottom: 2em
  padding: 1em
  h1
    font: bold 1.2em sans-serif
    margin-bottom: .6em
  li
    list-style-type: none
.events
  .event
    margin-bottom: 2.5em
    .date
      text-transform: uppercase
      font-size: 1.3em
      font-weight: bold
      color: #b01111
