.presentations
  list-style-type: decimal
  font-size: 1.3em
  line-height: 1.2em
  margin: 2em 0 2em 1.4em
  .presentation
    margin: 1em 0 1.5em
    color: #ccc
    .topic
      color: #333
      -webkit-hyphens: auto
    .author
      font: italic .9em 'Georgia', 'Times', serif
      text-align: right
      color: #aaa
      &:before
        content: '‐ '