.info
  text-transform: uppercase
  font-weight: bold
  margin: 2em 0 1em
  .date
    font-size: 2em
    color: #b01111
  .address
    font-size: 1.4em
    line-height: 1.2em
    color: #bbb
  .address2
    font-size: 1em
    color: #ccc
.map
  width: 480px
  height: 300px