doctype html
html
  head
    meta charset="utf-8"
    title Łódź Ruby User Group
    link href="stylesheets/style.css" rel="stylesheet" type="text/css"

  body
    .container
      .grid
        .grid__item.one-half.palm-one-whole
          hgroup.landmark
            h1
              | Łódź Ruby User Group
            time.gamma.brand-color
              | 16 stycznia 2014 (czwartek), 18:45
            .push-half--top.brand-color
              | ul. Pomorska 39 - Miejski punkt kultury PREXER-UŁ

          dl.talks
            dt Scalable CSS
            dd Bartłomiej Kozal

            dt TBA
            dd Grzesiek Kołodziejczyk

            dt Lightning talks!

          ul.nav.nav--block.text--center
            li.push--top
              a href="https://www.facebook.com/events/370456743098300/"
                | Dołącz na Facebooku

        .grid__item.one-half.palm-one-whole
          .map.push--top data-map=""

      .sponsors
        h4 Sponsorzy:
        ul.sponsors__list
          li
            a href="http://binarapps.com"
              img src="/images/binarapps.png"
          li
            a href="https://shellycloud.com"
              img src="/images/shellycloud.png"

      /
        h2 Archiwum
        h3 3 lipca 2012
        dl
          dt
            a href="http://www.slideshare.net/RaVbaker/clean-code-w-ruby"
              ' Clean Code w Ruby, czyli kod musi być CZYSTY!
          dd Rafał Piekarski
          dt
            a href="https://speakerdeck.com/sebastianb/noob-game-development-historia-mustachio"
              ' NoobGameDevel: Historia Mustachio
          dd Marcin Baliński, Sebastian Baliński
        h3 2 lutego 2012
        ol
          li
            ' Backbone.js
            span class="author"
              ' Piotr Jakubowski
          li
            ' Presenters
            span class="author"
              Artur Roszczyk
        h3 8 grudnia 2011
        ol
          li
            ' Ruby gada z Javą, czyli cross-platform messaging z użyciem STOMP
            span class="author"
              ' Michał Ostruszka
          li
            a href="https://github.com/RaVbaker/LRUG-search-demo"
              ' Wyszukiwanie jasne jak słońce - jak stworzyć wyszukiwarkę z Apache Solr i Ruby on Rails
            span class="author"
              ' Rafal Piekarski
          li
            ' ØMQ
            span class="author"
              ' Grzesiek Kolodziejczyk
        h3 20 października 2011
        ol
          li
            a href="https://speakerdeck.com/lrug/wprowadzenie-do-websockets"
              ' Wprowadzenie do websockets
            span class="author"
              ' Bartłomiej Kozal
          li
            a href="https://speakerdeck.com/lrug/ruby-gigabajty-danych-dziennie-i-czas-rzeczywisty"
              ' Przetwarzanie gigabajtów danych w czasie rzeczywistym z wykorzystaniem Goliath i Resque
            span class="author"
              ' Łukasz Piestrzeniewicz
          li
            a href="https://speakerdeck.com/grk/faye"
              ' Faye, czyli łatwe pub/sub z websockets
            span class="author"
              ' Grzesiek Kolodziejczyk
        h2 Ruby w Polsce
        ul
          li
            a href="http://wrug.eu"
              ' Warszawa
          li
            a href="http://www.meetup.com/Krakow-Ruby-Users-Group/"
              ' Kraków
          li
            a href="http://srug.pl"
              ' Górny Śląsk
          li
            a href="http://drug.org.pl"
              ' Dolny Śląsk
          li
            a href="http://trug.pl"
              ' Trójmiasto
          li
            a href="http://prug.pl"
              ' Poznań
          li
            a href="http://rubyonrails.pl/forum/f22-BRUG"
              ' Białystok

    script src="https://maps.googleapis.com/maps/api/js?sensor=false"
    script src="javascripts/script.js"
