!!!
%html
  %head
    %title LRUG
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %h1 Łódź Ruby User Group
    = yield
    %footer
      %p archiwum lrug | kod źródłowy